.DS_Store
ehthumbs.db
Icon?
Thumbs.db
.idea

*.log

# Cordova #
/platforms
/plugins
/www/

# Node Files #
/node_modules
/bower_components
npm-debug.log

# Typing #
/src/typings/tsd/
/typings/
/tsd_typings/

# Dist #
/__build__/**
.webpack.json
/src/public/assets/bower_components/
/src/public/global.css

# Coverage #
/coverage/

/output/
/compiled/
.awcache/
/src/**/*.css
ts-node
/**/*.ngfactory.ts
/**/*.css.ts
/**/*.css.shim.ts
dll/
