<!-- VitreContainerComponent Template -->
<pw-vitre-layer class="vitre-layer" data-vitre-layer="1">
  <ng-content select="pw-vitre[vitre-layer=1]"></ng-content>
</pw-vitre-layer>
<pw-vitre-layer class="vitre-layer" data-vitre-layer="2">
  <ng-content select="pw-vitre[vitre-layer=2]"></ng-content>
</pw-vitre-layer>
<pw-vitre-layer class="vitre-layer" data-vitre-layer="3">
  <ng-content select="pw-vitre[vitre-layer=3]"></ng-content>
</pw-vitre-layer>
<pw-vitre-layer class="vitre-layer" data-vitre-layer="4">
  <ng-content select="pw-vitre[vitre-layer=4]"></ng-content>
</pw-vitre-layer>
<pw-vitre-layer class="vitre-layer" data-vitre-layer="5">
  <ng-content select="pw-vitre[vitre-layer=5]"></ng-content>
</pw-vitre-layer>
<pw-vitre-layer class="vitre-layer" data-vitre-layer="0">
  <ng-content select="pw-vitre"></ng-content>
</pw-vitre-layer>
<!--<div class="curtains"></div>-->
