<!-- VitreContainerComponent Template -->

<div class="vitre-drawers vitre-drawers-start">
  <ng-content select="pw-vitre-drawer[vitre-position=start]"></ng-content>
  <ng-content select="pw-vitre-drawer[vitre-position=left]"></ng-content>
  <ng-content select="pw-vitre-drawer[vitre-position=top]"></ng-content>
</div>
<div class="vitre-container-content">
  <ng-content select="pw-vitre"></ng-content>
</div>
<div class="vitre-drawers vitre-drawers-end">
  <ng-content select="pw-vitre-drawer[vitre-position=end]"></ng-content>
  <ng-content select="pw-vitre-drawer[vitre-position=right]"></ng-content>
  <ng-content select="pw-vitre-drawer[vitre-position=bottom]"></ng-content>
</div>
<!--<div class="curtains"></div>-->
