// VitreContainerComponent Styles

// Gives access to all app wide variables such as for spacing,
// colors, and typography.
@import 'bootstrap/custom';

// Be Safe; No Encapsulation!

pw-vitre-container {
  display: block;
  position: relative;

  > .vitre-drawers {
    position: absolute;
    z-index: 500;
    height: 100%;
    width: 100%;

    > pw-vitre-drawer {
      display: block;
      position: absolute;
      transition:
        height .2s cubic-bezier(0.55, 0.085, 0.68, 0.53),
        width .2s cubic-bezier(0.55, 0.085, 0.68, 0.53),
        transform .5s ease-out;

      // debug
      opacity: .6;
    }
  }

  > .vitre-container-content {
    display: flex;
    transition:
      height .2s cubic-bezier(0.55, 0.085, 0.68, 0.53),
      width .2s cubic-bezier(0.55, 0.085, 0.68, 0.53),
      transform .5s ease-out;

    > pw-vitre {
      transition:
        height .2s cubic-bezier(0.55, 0.085, 0.68, 0.53),
        width .2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    }
  }
}

$vitre-columns: 12;

//<div class="vitre-container-content">
//  <ng-content></ng-content>
//</div>
//<!--<div class="curtains"></div>-->

pw-vitre-container[vitre-direction=row] {
  > .vitre-container-content {
    flex-direction: row;
    height: 100%;
  }
  > .vitre-drawers {
    top: 0;
    > pw-vitre-drawer {
      transform: translateX(0);
      height: 100%;
    }
  }
  > .vitre-drawers-start {
    // row
    right: 100%;
    > pw-vitre-drawer {
      right: 0;
    }
  }

  > .vitre-drawers-end {
    // row
    left: 100%;
    > pw-vitre-drawer {
      left: 0;
    }
  }
}

pw-vitre-container[vitre-direction=column] {
  > .vitre-container-content {
    flex-direction: column;
    width: 100%;
  }
  > .vitre-drawers {
    left: 0;
    > pw-vitre-drawer {
      transform: translateY(0);
      width: 100%;
    }
  }
  > .vitre-drawers-start {
    // column
    bottom: 100%;
    > pw-vitre-drawer {
      bottom: 0;
    }
  }

  > .vitre-drawers-end {
    // column
    top: 100%;
    > pw-vitre-drawer {
      top: 0;
    }
  }
}
