@import 'color-map';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:host {
  background: color-map('red');
}

#my-navlist li {
  display: inline;
  list-style-type: none;
  padding-right: 100px;
}
